CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminIdle]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminIdle](
	[ServiceId] [int] NOT NULL,
	[UserTabNo] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AdminIdle] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC,
	[UserTabNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CPU]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CPU](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerId] [smallint] NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[CpuSocketId] [tinyint] NOT NULL,
	[CoreCount] [smallint] NOT NULL,
	[Price] [money] NOT NULL,
	[Frequency] [float] NOT NULL,
 CONSTRAINT [PK_dbo.CPU] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CpuSocket]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CpuSocket](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ManufacturerId] [smallint] NOT NULL,
 CONSTRAINT [PK_dbo.CpuSocket] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IdleReason]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdleReason](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.IdleReason] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IdleType]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdleType](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.IdleType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Manufacturer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaasType]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaasType](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.PaasType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Platform]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Platform](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerId] [smallint] NOT NULL,
	[Model] [nvarchar](100) NOT NULL,
	[CpuSocketId] [tinyint] NOT NULL,
	[CPUCount] [tinyint] NOT NULL,
	[RamTypeId] [tinyint] NOT NULL,
	[RamVolumeMax] [int] NOT NULL,
	[RamSocketCount] [tinyint] NOT NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_dbo.Platform] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Platform_StorageInt]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Platform_StorageInt](
	[PlatformId] [int] NOT NULL,
	[InterfaceId] [tinyint] NOT NULL,
	[SlotCount] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.Platform_StorageInt] PRIMARY KEY CLUSTERED 
(
	[PlatformId] ASC,
	[InterfaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[AvgSalary] [money] NOT NULL,
	[WorkHours] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.Position] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAM]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAM](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerId] [smallint] NOT NULL,
	[Model] [nvarchar](100) NOT NULL,
	[RamTypeId] [tinyint] NOT NULL,
	[Volume] [int] NOT NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_dbo.RAM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RamType]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RamType](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.RamType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RightsLevel]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RightsLevel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.RightsLevel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerId] [smallint] NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[AnnualMaintenance] [money] NULL,
	[Price] [money] NOT NULL,
	[Active] [bit] NOT NULL,
	[OnMaintenance] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SAN] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_MaintenanceShedule]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_MaintenanceShedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SAN_Id] [int] NOT NULL,
	[BeginPeriod] [datetime] NOT NULL,
	[EndPeriod] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.SAN_MaintenanceShedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_Storage]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_Storage](
	[SAN_Id] [int] NOT NULL,
	[StorageId] [int] NOT NULL,
	[Count] [smallint] NULL,
 CONSTRAINT [PK_dbo.SAN_Storage] PRIMARY KEY CLUSTERED 
(
	[SAN_Id] ASC,
	[StorageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_StorageInt]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_StorageInt](
	[SAN_Id] [int] NOT NULL,
	[InterfaceId] [tinyint] NOT NULL,
	[SlotCount] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.SAN_StorageInt] PRIMARY KEY CLUSTERED 
(
	[SAN_Id] ASC,
	[InterfaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANtoPaas]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANtoPaas](
	[PaasTypeId] [smallint] NOT NULL,
	[SAN_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SANtoPaas] PRIMARY KEY CLUSTERED 
(
	[PaasTypeId] ASC,
	[SAN_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Server]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Server](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlatformId] [int] NOT NULL,
	[CPU_Id] [int] NOT NULL,
	[Price] [money] NULL,
	[AnnualMaintenance] [money] NULL,
	[Active] [bit] NOT NULL,
	[OnMaintenance] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Server] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Server_MaintenanceShedule]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Server_MaintenanceShedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServerID] [int] NOT NULL,
	[BeginPeriod] [datetime] NOT NULL,
	[EndPeriod] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Server_MaintenanceShedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Server_RAM]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Server_RAM](
	[ServerId] [int] NOT NULL,
	[RamId] [int] NOT NULL,
	[Count] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.Server_RAM] PRIMARY KEY CLUSTERED 
(
	[ServerId] ASC,
	[RamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Server_Storage]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Server_Storage](
	[ServerId] [int] NOT NULL,
	[StorageId] [int] NOT NULL,
	[Count] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.Server_Storage] PRIMARY KEY CLUSTERED 
(
	[ServerId] ASC,
	[StorageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServerToPaas]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServerToPaas](
	[PaasTypeId] [smallint] NOT NULL,
	[ServerId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ServerToPaas] PRIMARY KEY CLUSTERED 
(
	[PaasTypeId] ASC,
	[ServerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PaasTypeId] [smallint] NOT NULL,
	[ServiceTypeId] [tinyint] NOT NULL,
	[CoreCount] [tinyint] NULL,
	[RamCount] [float] NULL,
	[HDDVolume] [float] NULL,
	[CreateDate] [datetime] NULL,
	[DeleteDate] [datetime] NULL,
	[ServiceStateId] [tinyint] NOT NULL,
	[CostPerHour] [money] NULL,
 CONSTRAINT [PK_dbo.Service] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceIdle]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceIdle](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[BeginPeriod] [datetime] NOT NULL,
	[EndPeriod] [datetime] NOT NULL,
	[IdleTypeId] [tinyint] NOT NULL,
	[IdleReasonId] [tinyint] NOT NULL,
	[Cost] [money] NULL,
 CONSTRAINT [PK_dbo.ServiceIdle] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceState]    Script Date: 24.05.2018 9:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceState](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.ServiceState] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceType]    Script Date: 24.05.2018 9:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceType](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.ServiceType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoftService]    Script Date: 24.05.2018 9:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoftService](
	[ServiceId] [int] NOT NULL,
	[SoftwareId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SoftService] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC,
	[SoftwareId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoftType]    Script Date: 24.05.2018 9:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoftType](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.SoftType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Software]    Script Date: 24.05.2018 9:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Software](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[SoftTypeId] [tinyint] NOT NULL,
	[Cost] [money] NOT NULL,
 CONSTRAINT [PK_dbo.Software] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Strorage]    Script Date: 24.05.2018 9:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Strorage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerId] [smallint] NOT NULL,
	[Model] [nvarchar](100) NOT NULL,
	[StrorageInterfaceId] [tinyint] NOT NULL,
	[Volume] [int] NOT NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_dbo.Strorage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StrorageInterface]    Script Date: 24.05.2018 9:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StrorageInterface](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.StrorageInterface] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 24.05.2018 9:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[TabNo] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RightLevelId] [int] NOT NULL,
	[PositionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[TabNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsingService]    Script Date: 24.05.2018 9:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsingService](
	[ServiceId] [int] NOT NULL,
	[UserTabNo] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UsingService] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC,
	[UserTabNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CpuSocket] ON 

INSERT [dbo].[CpuSocket] ([Id], [Name], [ManufacturerId]) VALUES (1, N'LGA 1366/Socket B', 2)
INSERT [dbo].[CpuSocket] ([Id], [Name], [ManufacturerId]) VALUES (2, N'LGA 1156/Socket H', 2)
INSERT [dbo].[CpuSocket] ([Id], [Name], [ManufacturerId]) VALUES (3, N'LGA 1567/Socket LS', 2)
SET IDENTITY_INSERT [dbo].[CpuSocket] OFF
SET IDENTITY_INSERT [dbo].[IdleReason] ON 

INSERT [dbo].[IdleReason] ([Id], [Name]) VALUES (1, N'Резервное копирование')
INSERT [dbo].[IdleReason] ([Id], [Name]) VALUES (2, N'Обновление конфигурации')
INSERT [dbo].[IdleReason] ([Id], [Name]) VALUES (3, N'Сбой питания')
SET IDENTITY_INSERT [dbo].[IdleReason] OFF
SET IDENTITY_INSERT [dbo].[IdleType] ON 

INSERT [dbo].[IdleType] ([Id], [Name]) VALUES (1, N'Плановый')
INSERT [dbo].[IdleType] ([Id], [Name]) VALUES (2, N'Внеплановый')
SET IDENTITY_INSERT [dbo].[IdleType] OFF
SET IDENTITY_INSERT [dbo].[Manufacturer] ON 

INSERT [dbo].[Manufacturer] ([Id], [Name]) VALUES (1, N'AMD')
INSERT [dbo].[Manufacturer] ([Id], [Name]) VALUES (2, N'Intel')
INSERT [dbo].[Manufacturer] ([Id], [Name]) VALUES (3, N'Asus')
SET IDENTITY_INSERT [dbo].[Manufacturer] OFF
SET IDENTITY_INSERT [dbo].[PaasType] ON 

INSERT [dbo].[PaasType] ([Id], [Name]) VALUES (1, N'1С')
INSERT [dbo].[PaasType] ([Id], [Name]) VALUES (2, N'Тех. поддержка')
INSERT [dbo].[PaasType] ([Id], [Name]) VALUES (3, N'SQL')
SET IDENTITY_INSERT [dbo].[PaasType] OFF
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([Id], [Name], [AvgSalary], [WorkHours]) VALUES (1, N'Системный администратор', 54692.5000, 59)
INSERT [dbo].[Position] ([Id], [Name], [AvgSalary], [WorkHours]) VALUES (2, N'Генеральный директор', 125680.9000, 45)
INSERT [dbo].[Position] ([Id], [Name], [AvgSalary], [WorkHours]) VALUES (3, N'Бухгалтер', 75930.0000, 51)
SET IDENTITY_INSERT [dbo].[Position] OFF
SET IDENTITY_INSERT [dbo].[RamType] ON 

INSERT [dbo].[RamType] ([Id], [Name]) VALUES (1, N'DDD3')
INSERT [dbo].[RamType] ([Id], [Name]) VALUES (2, N'DDD4')
SET IDENTITY_INSERT [dbo].[RamType] OFF
SET IDENTITY_INSERT [dbo].[RightsLevel] ON 

INSERT [dbo].[RightsLevel] ([Id], [Name]) VALUES (1, N'Директор')
INSERT [dbo].[RightsLevel] ([Id], [Name]) VALUES (2, N'Системный администратор')
INSERT [dbo].[RightsLevel] ([Id], [Name]) VALUES (3, N'Сотрудник')
SET IDENTITY_INSERT [dbo].[RightsLevel] OFF
SET IDENTITY_INSERT [dbo].[ServiceState] ON 

INSERT [dbo].[ServiceState] ([ID], [Name]) VALUES (1, N'Активен')
INSERT [dbo].[ServiceState] ([ID], [Name]) VALUES (2, N'Неактивен')
INSERT [dbo].[ServiceState] ([ID], [Name]) VALUES (3, N'Отправлена заявка')
SET IDENTITY_INSERT [dbo].[ServiceState] OFF
SET IDENTITY_INSERT [dbo].[SoftType] ON 

INSERT [dbo].[SoftType] ([Id], [Name]) VALUES (1, N'Системное')
INSERT [dbo].[SoftType] ([Id], [Name]) VALUES (2, N'Прикладное')
INSERT [dbo].[SoftType] ([Id], [Name]) VALUES (3, N'Пакеты прикладных программ')
SET IDENTITY_INSERT [dbo].[SoftType] OFF
SET IDENTITY_INSERT [dbo].[StrorageInterface] ON 

INSERT [dbo].[StrorageInterface] ([Id], [Name]) VALUES (1, N'SATA3')
INSERT [dbo].[StrorageInterface] ([Id], [Name]) VALUES (2, N'SAS 300')
INSERT [dbo].[StrorageInterface] ([Id], [Name]) VALUES (3, N'SAS 600')
SET IDENTITY_INSERT [dbo].[StrorageInterface] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([TabNo], [Login], [Password], [RightLevelId], [PositionId]) VALUES (1, N'Director', N'123Dir', 1, 2)
INSERT [dbo].[User] ([TabNo], [Login], [Password], [RightLevelId], [PositionId]) VALUES (2, N'Admin', N'0000', 2, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Index [IX_ServiceId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_ServiceId] ON [dbo].[AdminIdle]
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserTabNo]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_UserTabNo] ON [dbo].[AdminIdle]
(
	[UserTabNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CpuSocketId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_CpuSocketId] ON [dbo].[CPU]
(
	[CpuSocketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ManufacturerId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_ManufacturerId] ON [dbo].[CPU]
(
	[ManufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ManufacturerId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_ManufacturerId] ON [dbo].[CpuSocket]
(
	[ManufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CpuSocketId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_CpuSocketId] ON [dbo].[Platform]
(
	[CpuSocketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ManufacturerId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_ManufacturerId] ON [dbo].[Platform]
(
	[ManufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RamTypeId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_RamTypeId] ON [dbo].[Platform]
(
	[RamTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_InterfaceId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_InterfaceId] ON [dbo].[Platform_StorageInt]
(
	[InterfaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlatformId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_PlatformId] ON [dbo].[Platform_StorageInt]
(
	[PlatformId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ManufacturerId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_ManufacturerId] ON [dbo].[RAM]
(
	[ManufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RamTypeId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_RamTypeId] ON [dbo].[RAM]
(
	[RamTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ManufacturerId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_ManufacturerId] ON [dbo].[SAN]
(
	[ManufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SAN_Id]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_SAN_Id] ON [dbo].[SAN_MaintenanceShedule]
(
	[SAN_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SAN_Id]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_SAN_Id] ON [dbo].[SAN_Storage]
(
	[SAN_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StorageId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_StorageId] ON [dbo].[SAN_Storage]
(
	[StorageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_InterfaceId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_InterfaceId] ON [dbo].[SAN_StorageInt]
(
	[InterfaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SAN_Id]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_SAN_Id] ON [dbo].[SAN_StorageInt]
(
	[SAN_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaasTypeId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_PaasTypeId] ON [dbo].[SANtoPaas]
(
	[PaasTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SAN_Id]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_SAN_Id] ON [dbo].[SANtoPaas]
(
	[SAN_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CPU_Id]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_CPU_Id] ON [dbo].[Server]
(
	[CPU_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlatformId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_PlatformId] ON [dbo].[Server]
(
	[PlatformId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServerID]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_ServerID] ON [dbo].[Server_MaintenanceShedule]
(
	[ServerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RamId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_RamId] ON [dbo].[Server_RAM]
(
	[RamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServerId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_ServerId] ON [dbo].[Server_RAM]
(
	[ServerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServerId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_ServerId] ON [dbo].[Server_Storage]
(
	[ServerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StorageId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_StorageId] ON [dbo].[Server_Storage]
(
	[StorageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaasTypeId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_PaasTypeId] ON [dbo].[ServerToPaas]
(
	[PaasTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServerId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_ServerId] ON [dbo].[ServerToPaas]
(
	[ServerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaasTypeId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_PaasTypeId] ON [dbo].[Service]
(
	[PaasTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceStateId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_ServiceStateId] ON [dbo].[Service]
(
	[ServiceStateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceTypeId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_ServiceTypeId] ON [dbo].[Service]
(
	[ServiceTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdleReasonId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_IdleReasonId] ON [dbo].[ServiceIdle]
(
	[IdleReasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdleTypeId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_IdleTypeId] ON [dbo].[ServiceIdle]
(
	[IdleTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_ServiceId] ON [dbo].[ServiceIdle]
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_ServiceId] ON [dbo].[SoftService]
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SoftwareId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_SoftwareId] ON [dbo].[SoftService]
(
	[SoftwareId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SoftTypeId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_SoftTypeId] ON [dbo].[Software]
(
	[SoftTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ManufacturerId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_ManufacturerId] ON [dbo].[Strorage]
(
	[ManufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StrorageInterfaceId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_StrorageInterfaceId] ON [dbo].[Strorage]
(
	[StrorageInterfaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PositionId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_PositionId] ON [dbo].[User]
(
	[PositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RightLevelId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_RightLevelId] ON [dbo].[User]
(
	[RightLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceId]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_ServiceId] ON [dbo].[UsingService]
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserTabNo]    Script Date: 24.05.2018 9:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_UserTabNo] ON [dbo].[UsingService]
(
	[UserTabNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminIdle]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AdminIdle_dbo.ServiceIdle_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[ServiceIdle] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AdminIdle] CHECK CONSTRAINT [FK_dbo.AdminIdle_dbo.ServiceIdle_ServiceId]
GO
ALTER TABLE [dbo].[AdminIdle]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AdminIdle_dbo.User_UserTabNo] FOREIGN KEY([UserTabNo])
REFERENCES [dbo].[User] ([TabNo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AdminIdle] CHECK CONSTRAINT [FK_dbo.AdminIdle_dbo.User_UserTabNo]
GO
ALTER TABLE [dbo].[CPU]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CPU_dbo.CpuSocket_CpuSocketId] FOREIGN KEY([CpuSocketId])
REFERENCES [dbo].[CpuSocket] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CPU] CHECK CONSTRAINT [FK_dbo.CPU_dbo.CpuSocket_CpuSocketId]
GO
ALTER TABLE [dbo].[CPU]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CPU_dbo.Manufacturer_ManufacturerId] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturer] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CPU] CHECK CONSTRAINT [FK_dbo.CPU_dbo.Manufacturer_ManufacturerId]
GO
ALTER TABLE [dbo].[CpuSocket]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CpuSocket_dbo.Manufacturer_ManufacturerId] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturer] ([Id])
GO
ALTER TABLE [dbo].[CpuSocket] CHECK CONSTRAINT [FK_dbo.CpuSocket_dbo.Manufacturer_ManufacturerId]
GO
ALTER TABLE [dbo].[Platform]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Platform_dbo.CpuSocket_CpuSocketId] FOREIGN KEY([CpuSocketId])
REFERENCES [dbo].[CpuSocket] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Platform] CHECK CONSTRAINT [FK_dbo.Platform_dbo.CpuSocket_CpuSocketId]
GO
ALTER TABLE [dbo].[Platform]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Platform_dbo.Manufacturer_ManufacturerId] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturer] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Platform] CHECK CONSTRAINT [FK_dbo.Platform_dbo.Manufacturer_ManufacturerId]
GO
ALTER TABLE [dbo].[Platform]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Platform_dbo.RamType_RamTypeId] FOREIGN KEY([RamTypeId])
REFERENCES [dbo].[RamType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Platform] CHECK CONSTRAINT [FK_dbo.Platform_dbo.RamType_RamTypeId]
GO
ALTER TABLE [dbo].[Platform_StorageInt]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Platform_StorageInt_dbo.Platform_PlatformId] FOREIGN KEY([PlatformId])
REFERENCES [dbo].[Platform] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Platform_StorageInt] CHECK CONSTRAINT [FK_dbo.Platform_StorageInt_dbo.Platform_PlatformId]
GO
ALTER TABLE [dbo].[Platform_StorageInt]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Platform_StorageInt_dbo.StrorageInterface_InterfaceId] FOREIGN KEY([InterfaceId])
REFERENCES [dbo].[StrorageInterface] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Platform_StorageInt] CHECK CONSTRAINT [FK_dbo.Platform_StorageInt_dbo.StrorageInterface_InterfaceId]
GO
ALTER TABLE [dbo].[RAM]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RAM_dbo.Manufacturer_ManufacturerId] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturer] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RAM] CHECK CONSTRAINT [FK_dbo.RAM_dbo.Manufacturer_ManufacturerId]
GO
ALTER TABLE [dbo].[RAM]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RAM_dbo.RamType_RamTypeId] FOREIGN KEY([RamTypeId])
REFERENCES [dbo].[RamType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RAM] CHECK CONSTRAINT [FK_dbo.RAM_dbo.RamType_RamTypeId]
GO
ALTER TABLE [dbo].[SAN]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SAN_dbo.Manufacturer_ManufacturerId] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturer] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SAN] CHECK CONSTRAINT [FK_dbo.SAN_dbo.Manufacturer_ManufacturerId]
GO
ALTER TABLE [dbo].[SAN_MaintenanceShedule]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SAN_MaintenanceShedule_dbo.SAN_SAN_Id] FOREIGN KEY([SAN_Id])
REFERENCES [dbo].[SAN] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SAN_MaintenanceShedule] CHECK CONSTRAINT [FK_dbo.SAN_MaintenanceShedule_dbo.SAN_SAN_Id]
GO
ALTER TABLE [dbo].[SAN_Storage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SAN_Storage_dbo.SAN_SAN_Id] FOREIGN KEY([SAN_Id])
REFERENCES [dbo].[SAN] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SAN_Storage] CHECK CONSTRAINT [FK_dbo.SAN_Storage_dbo.SAN_SAN_Id]
GO
ALTER TABLE [dbo].[SAN_Storage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SAN_Storage_dbo.Strorage_StorageId] FOREIGN KEY([StorageId])
REFERENCES [dbo].[Strorage] ([Id])
GO
ALTER TABLE [dbo].[SAN_Storage] CHECK CONSTRAINT [FK_dbo.SAN_Storage_dbo.Strorage_StorageId]
GO
ALTER TABLE [dbo].[SAN_StorageInt]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SAN_StorageInt_dbo.SAN_SAN_Id] FOREIGN KEY([SAN_Id])
REFERENCES [dbo].[SAN] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SAN_StorageInt] CHECK CONSTRAINT [FK_dbo.SAN_StorageInt_dbo.SAN_SAN_Id]
GO
ALTER TABLE [dbo].[SAN_StorageInt]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SAN_StorageInt_dbo.StrorageInterface_InterfaceId] FOREIGN KEY([InterfaceId])
REFERENCES [dbo].[StrorageInterface] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SAN_StorageInt] CHECK CONSTRAINT [FK_dbo.SAN_StorageInt_dbo.StrorageInterface_InterfaceId]
GO
ALTER TABLE [dbo].[SANtoPaas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SANtoPaas_dbo.PaasType_PaasTypeId] FOREIGN KEY([PaasTypeId])
REFERENCES [dbo].[PaasType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SANtoPaas] CHECK CONSTRAINT [FK_dbo.SANtoPaas_dbo.PaasType_PaasTypeId]
GO
ALTER TABLE [dbo].[SANtoPaas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SANtoPaas_dbo.SAN_SAN_Id] FOREIGN KEY([SAN_Id])
REFERENCES [dbo].[SAN] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SANtoPaas] CHECK CONSTRAINT [FK_dbo.SANtoPaas_dbo.SAN_SAN_Id]
GO
ALTER TABLE [dbo].[Server]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Server_dbo.CPU_CPU_Id] FOREIGN KEY([CPU_Id])
REFERENCES [dbo].[CPU] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Server] CHECK CONSTRAINT [FK_dbo.Server_dbo.CPU_CPU_Id]
GO
ALTER TABLE [dbo].[Server]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Server_dbo.Platform_PlatformId] FOREIGN KEY([PlatformId])
REFERENCES [dbo].[Platform] ([Id])
GO
ALTER TABLE [dbo].[Server] CHECK CONSTRAINT [FK_dbo.Server_dbo.Platform_PlatformId]
GO
ALTER TABLE [dbo].[Server_MaintenanceShedule]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Server_MaintenanceShedule_dbo.Server_ServerID] FOREIGN KEY([ServerID])
REFERENCES [dbo].[Server] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Server_MaintenanceShedule] CHECK CONSTRAINT [FK_dbo.Server_MaintenanceShedule_dbo.Server_ServerID]
GO
ALTER TABLE [dbo].[Server_RAM]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Server_RAM_dbo.RAM_RamId] FOREIGN KEY([RamId])
REFERENCES [dbo].[RAM] ([Id])
GO
ALTER TABLE [dbo].[Server_RAM] CHECK CONSTRAINT [FK_dbo.Server_RAM_dbo.RAM_RamId]
GO
ALTER TABLE [dbo].[Server_RAM]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Server_RAM_dbo.Server_ServerId] FOREIGN KEY([ServerId])
REFERENCES [dbo].[Server] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Server_RAM] CHECK CONSTRAINT [FK_dbo.Server_RAM_dbo.Server_ServerId]
GO
ALTER TABLE [dbo].[Server_Storage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Server_Storage_dbo.Server_ServerId] FOREIGN KEY([ServerId])
REFERENCES [dbo].[Server] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Server_Storage] CHECK CONSTRAINT [FK_dbo.Server_Storage_dbo.Server_ServerId]
GO
ALTER TABLE [dbo].[Server_Storage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Server_Storage_dbo.Strorage_StorageId] FOREIGN KEY([StorageId])
REFERENCES [dbo].[Strorage] ([Id])
GO
ALTER TABLE [dbo].[Server_Storage] CHECK CONSTRAINT [FK_dbo.Server_Storage_dbo.Strorage_StorageId]
GO
ALTER TABLE [dbo].[ServerToPaas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ServerToPaas_dbo.PaasType_PaasTypeId] FOREIGN KEY([PaasTypeId])
REFERENCES [dbo].[PaasType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServerToPaas] CHECK CONSTRAINT [FK_dbo.ServerToPaas_dbo.PaasType_PaasTypeId]
GO
ALTER TABLE [dbo].[ServerToPaas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ServerToPaas_dbo.Server_ServerId] FOREIGN KEY([ServerId])
REFERENCES [dbo].[Server] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServerToPaas] CHECK CONSTRAINT [FK_dbo.ServerToPaas_dbo.Server_ServerId]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Service_dbo.PaasType_PaasTypeId] FOREIGN KEY([PaasTypeId])
REFERENCES [dbo].[PaasType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_dbo.Service_dbo.PaasType_PaasTypeId]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Service_dbo.ServiceState_ServiceStateId] FOREIGN KEY([ServiceStateId])
REFERENCES [dbo].[ServiceState] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_dbo.Service_dbo.ServiceState_ServiceStateId]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Service_dbo.ServiceType_ServiceTypeId] FOREIGN KEY([ServiceTypeId])
REFERENCES [dbo].[ServiceType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_dbo.Service_dbo.ServiceType_ServiceTypeId]
GO
ALTER TABLE [dbo].[ServiceIdle]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ServiceIdle_dbo.IdleReason_IdleReasonId] FOREIGN KEY([IdleReasonId])
REFERENCES [dbo].[IdleReason] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceIdle] CHECK CONSTRAINT [FK_dbo.ServiceIdle_dbo.IdleReason_IdleReasonId]
GO
ALTER TABLE [dbo].[ServiceIdle]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ServiceIdle_dbo.IdleType_IdleTypeId] FOREIGN KEY([IdleTypeId])
REFERENCES [dbo].[IdleType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceIdle] CHECK CONSTRAINT [FK_dbo.ServiceIdle_dbo.IdleType_IdleTypeId]
GO
ALTER TABLE [dbo].[ServiceIdle]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ServiceIdle_dbo.Service_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceIdle] CHECK CONSTRAINT [FK_dbo.ServiceIdle_dbo.Service_ServiceId]
GO
ALTER TABLE [dbo].[SoftService]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SoftService_dbo.Service_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SoftService] CHECK CONSTRAINT [FK_dbo.SoftService_dbo.Service_ServiceId]
GO
ALTER TABLE [dbo].[SoftService]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SoftService_dbo.Software_SoftwareId] FOREIGN KEY([SoftwareId])
REFERENCES [dbo].[Software] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SoftService] CHECK CONSTRAINT [FK_dbo.SoftService_dbo.Software_SoftwareId]
GO
ALTER TABLE [dbo].[Software]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Software_dbo.SoftType_SoftTypeId] FOREIGN KEY([SoftTypeId])
REFERENCES [dbo].[SoftType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Software] CHECK CONSTRAINT [FK_dbo.Software_dbo.SoftType_SoftTypeId]
GO
ALTER TABLE [dbo].[Strorage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Strorage_dbo.Manufacturer_ManufacturerId] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturer] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Strorage] CHECK CONSTRAINT [FK_dbo.Strorage_dbo.Manufacturer_ManufacturerId]
GO
ALTER TABLE [dbo].[Strorage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Strorage_dbo.StrorageInterface_StrorageInterfaceId] FOREIGN KEY([StrorageInterfaceId])
REFERENCES [dbo].[StrorageInterface] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Strorage] CHECK CONSTRAINT [FK_dbo.Strorage_dbo.StrorageInterface_StrorageInterfaceId]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_dbo.Position_PositionId] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_dbo.User_dbo.Position_PositionId]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_dbo.RightsLevel_RightLevelId] FOREIGN KEY([RightLevelId])
REFERENCES [dbo].[RightsLevel] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_dbo.User_dbo.RightsLevel_RightLevelId]
GO
ALTER TABLE [dbo].[UsingService]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UsingService_dbo.Service_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsingService] CHECK CONSTRAINT [FK_dbo.UsingService_dbo.Service_ServiceId]
GO
ALTER TABLE [dbo].[UsingService]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UsingService_dbo.User_UserTabNo] FOREIGN KEY([UserTabNo])
REFERENCES [dbo].[User] ([TabNo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsingService] CHECK CONSTRAINT [FK_dbo.UsingService_dbo.User_UserTabNo]
GO
USE [master]
GO
