<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MTF_ServicesBase" 
         connectionString="Data source=SSQL-12R2WEB01.client.parking.ru;Initial catalog=zatinase_qv4hz;User ID=zatinase_qv4hz;Password=BQt4XdFBvk"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
